body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w-div{
  display: inline;
  position: relative;
  bottom: 44.5px;
}

.img1{
  position: absolute;
  left: 20px;
  top: -50px;
  margin: 0;
  width: 130px;
  height: 131px;
  border-radius: 10px;
}

.p1{
  position: absolute;
  top: -120px;
  left: 55px;
  z-index: 2;
}

.a-div{
  display: inline;
  position: relative;
  bottom: 44.5px;
}

.img2{
  position: absolute;
  left: 20px;
  top: -53px;
  margin: 0;
  width: 130px;
  height: 131px;
  border-radius: 10px;
}

.p2{
  position: absolute;
  top: -125px;
  left: 60px;
  z-index: 3;
}

.s-div{
  display: inline;
  position: relative;
  bottom: 44.5px;
}

.img3{
  position: absolute;
  left: 20px;
  top: -53px;
  margin: 0;
  width: 130px;
  height: 131px;
  border-radius: 10px;
}

.p3{
  position: absolute;
  top: -125px;
  left: 65px;
  z-index: 3;
}

.d-div{
  display: inline;
  position: relative;
  bottom: 44.5px;
}

.img4{
  position: absolute;
  left: 24px;
  top: -53px;
  margin: 0;
  width: 120px;
  height: 131px;
  border-radius: 10px;
}

.p4{
  position: absolute;
  top: -125px;
  left: 58px;
  z-index: 3;
}

.j-div{
  display: inline;
  position: relative;
  bottom: 44.5px;
}

.img5{
  position: absolute;
  left: 20px;
  top: -53px;
  margin: 0;
  width: 130px;
  height: 131px;
  border-radius: 10px;
}

.p5{
  position: absolute;
  top: -130px;
  left: 75px;
  z-index: 3;
}

.k-div{
  display: inline;
  position: relative;
  bottom: 44.5px;
}

.img6{
  position: absolute;
  left: 20px;
  top: -53px;
  margin: 0;
  width: 130px;
  height: 131px;
  border-radius: 10px;
}

.p6{
  position: absolute;
  top: -125px;
  left: 60px;
  z-index: 3;
}

.l-div{
  display: inline;
  position: relative;
  bottom: 44.5px;
}

.img7{
  position: absolute;
  left: 20px;
  top: -53px;
  margin: 0;
  width: 130px;
  height: 131px;
  border-radius: 10px;
}

.p7{
  position: absolute;
  top: -125px;
  left: 69px;
  z-index: 3;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
